html,
body{
  height: 100%;
}

body{
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a{
  color: $default;
  font-size: 16px;
  line-height: 26px;
  @extend %quicksand-500;
}

.title{
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  @extend %roboto-700;
  margin-bottom: 10px;
  color: $title;
  text-transform: uppercase;
}

.text{
  text-align: center;
  max-width: 570px;
  margin: 0 auto 65px;
}

